<h1>Username: <%= @user.username %></h1>

<%= form_with model: @user, method: :patch do |form| %>
  <%= form.label :username %>
  <%= form.text_field :username %>

  <%= form.label :email %>
  <%= form.email_field :email %>

  <%= form.label :password %>
  <%= form.password_field :password %>
  
  <%= form.submit "Save" %>
<% end %>


<% if @user.errors.any? %>
  <div>
    <h2>There are <%= pluralize(@user.errors.count, 'error') %> preventing you from creating your account.</h2>

    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

